<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Moment 1 | Lägg till kurs</title>
</head>
<body>
    <div class="container">
        <main>

            <h1>Moment 1 – Lägg till kurs</h1>

            <nav>
                 <ul class="menu">
                    <li><a href="/">Start</a></li>
                    <li><a href="/about">Om webbplatsen</a></li>
                    <li><a href="/addcourse" class="current">Lägg till kurs</a></li>
                </ul>
            </nav>

            <br><br>

            <h2>
                Lägg till nya kurser till listan genom att fylla i formuläret
            </h2>
            <p>
                Vänligen fyll i alla fält enligt följande:<br><br>
                <strong>Kurskod:</strong> Kursens kod, exempelvis "DT207G"<br>
                <strong>Kursnamn:</strong> Kursens namn, exmeplvis "Backend-baserad webbutveckling"<br>
                <strong>Kursplan:</strong> Länk till kursplan för kursen, exempelvis "https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT207G/"<br>
                <strong>Kursprogression:</strong> Vilken progression kursen har (vanligtvis A eller B), exempelvis "B"<br><br>
            </p>


            <% if (errors.length>0) { %>
                    <h3 class="error"> 
                        <% errors.forEach(function(error) { %>
                            Error: <%= error %><br>
                        <% }); %>
                    </h3>
            <% } %>


            <form method="post">
                <div class="formbox">
                    <label for="kurskod">Kurskod: </label>
                    <input type="text" id="kurskod" name="kurskod" value="<%= coursecode || '' %>">
                </div>
                <br>
                <div class="formbox">
                    <label for="kursnamn">Kursnamn: </label>
                    <input type="text" id="kursnamn" name="kursnamn" value="<%= coursename || '' %>">
                </div>
                <br>
                <div class="formbox">
                    <label for="kursplan">Kursplan: </label>
                    <input type="text" id="kursplan" name="kursplan" value="<%= courseplan || '' %>">
                </div>
                <br>
                <div class="formbox">
                    <label for="kursprogression">Kursprogression: </label>
                    <input type="text" id="kursprogression" name="kursprogression" value="<%= courseprog || '' %>">
                </div>
                <br>
                <input type="submit" id="submit" value="Lägg till kurs">
            </form>

        </main>
    </div>
    <footer>
        <p class="footertext">Denna webbplats är skapad av <a href="https://github.com/ChristoferCode" id="mingithub"><span id="name">Christofer Hansson</span></a> 2025, för Moment 1 i kursen DT207G, Backend-baserad webbutveckling på Webb&shy;utvecklings&shy;programmet vid Mittuniversitetet. </p>
    </footer>
</body>
</html>